<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126394854128-jn114aqmdd3db1scbes6d662ejtvtf4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126394854128-jn114aqmdd3db1scbes6d662ejtvtf4p</string>
	<key>API_KEY</key>
	<string>AIzaSyDabrT0IJnl3OFaUtC9SLhsIftCjmaS6ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>126394854128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oyoLabs</string>
	<key>PROJECT_ID</key>
	<string>oyolab-7b9ea</string>
	<key>STORAGE_BUCKET</key>
	<string>oyolab-7b9ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126394854128:ios:574246b9bb056629993035</string>
</dict>
</plist>