<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235551438149-ildmajugb0p7ndu80qu93e0i0ls52jmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235551438149-ildmajugb0p7ndu80qu93e0i0ls52jmb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>235551438149-dhf0ue48vhd9nj5f0o13ch3g6t4djrei.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCifZmVLIxLSAsR9BsKEOQ4fAPUIQVV7bg</string>
	<key>GCM_SENDER_ID</key>
	<string>235551438149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oyoLabs</string>
	<key>PROJECT_ID</key>
	<string>oyo-lab</string>
	<key>STORAGE_BUCKET</key>
	<string>oyo-lab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235551438149:ios:4cdbb7e4e4c286dc197a2c</string>
	<key>DATABASE_URL</key>
	<string>https://oyo-lab-default-rtdb.firebaseio.com</string>
</dict>
</plist>